// width
$maxWidth: 1280px;
$desktopWidth: 1280px;
$desktopTabletTransition: 960px;
$tabletWidth: 786px;
$mobileWidth: 520px;
$minWidth:320px;

// color
$c-textDark: #090a0a;
$c-textLight: #6c7072;
$c-textLighter: #72777a;
$c-textWhite: #fff;
$c-gray: #484848;
$c-navyBlue: #0718c4;
$c-lightBlue: #3c4cd3;
$c-lightGray: #c7d7f4;
$c-nearlyWhite: #fcfcfc;
$c-footer:#3c4cd3;

// transition
$transitionTime: 0.5s;

// font size
$font-xsm: 12px;
$font-sm: 14px;
$font-m: 16px;
$font-l: 18px;
$font-xl: 24px;
$font-title: 32px;

// line height
$lineH-m: 16px;
$lineH-l: 21px;
$lineH-xl: 28px;
$lineH-title: 36px;
